[program:tsduck]
environment=
    BITRATE=_BITRATE_,
    MULTICAST_ADDR=_MULTICAST_ADDR_,
    OUTGOING_ADDR=_OUTGOING_ADDR_,
    TSUDP_PORT=_TSUDP_PORT_,
    TTL=_TTL_
command=/tmp/srs/trunk/tsduck.sh
priority=900
directory=/tmp/srs/trunk
autostart=true
autorestart=true
startretries=3
stderr_logfile=/var/log/tsduck.log
stdout_logfile=/var/log/tsduck.log
user=root
